.trending-hotels {
  padding: 40px 50px 40px 50px;
}

.trending-section {
  margin-top: 3%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px 20px;
}
.trending-images img {
  width: 300px;
  height: 400px;
}
