.info-table {
  width: 98%;
  margin: 5% auto;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 5px;
}

.info-table thead {
  background-color: #c5cfcf;
}

.info-table-label {
  font-family: verdana;
  font-size: 16px;
  padding: 10px;
}

.info-table-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.info-table-row td {
  width: 200px;
  border: 1px dotted lightgray;
  padding-bottom: 10px;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

.info-table-row:nth-child(even) {
  background-color: #ebe8e8;
}

.info-table-action-label i {
  cursor: pointer;
  font-size: 20px;
  margin-right: 30px;
  color: rgb(121, 117, 117);
}

.info-table-delete-icon {
  margin-left: 10px;
  color: red !important;
}

.info-table-no-data-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: red;
}

.read-more-link {
  color: blueviolet;
  text-decoration: underline;
  cursor: pointer;
}

/* Media Queries */

/* Small screen tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .info-table {
    margin: 5% 2% 1% 2%;
  }

  .info-table-label {
    font-size: 13px;
  }

  .info-table-row td {
    font-size: 13px;
    width: 150px;
    margin-top: 20px;
  }

  .info-table-action-label {
    margin-right: 60px;
  }

  .info-table-action-label i {
    font-size: 18px;
    margin: 20px 10px 0 10px;
  }

  .info-table-no-data-title {
    font-size: 18px;
  }
}

/* Large screen tablets and small screen laptops */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .info-table {
    margin: 5% 2% 1% 2%;
  }

  .info-table-row td {
    width: 180px;
  }

  .info-table-action-label i {
    margin: 15px;
  }

  .info-table-delete-icon {
    margin: 10px 0 0 0;
  }

  .info-table-no-data-title {
    font-size: 20px;
  }
}
