.users-section {
  box-sizing: border-box;
  width: 82%;
  float: right;
  overflow-x: auto;
  margin-top: 100px;
}

/* Media Queries */

/* Small screen tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .users-section {
    width: 70%;
  }
}

/* Large screen tablets and small screen laptops */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .users-section {
    width: 75%;
  }
}
