.client-home-section {
  margin-top: 50px;
  box-sizing: border-box;
  width: 82%;
  float: right;
  padding: 20px;
}

.client-subsection-title-heading {
  width: fit-content;
  height: fit-content;
  font-family: verdana;
  padding: 15px 20px;
  color: rgb(73, 73, 73);
  background-color: rgb(240, 240, 231);
  border-radius: 0 0 8px 0;
  box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -webkit-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
}

.client-subsection-title {
  display: flex;
  justify-content: space-between;
}

.update-destinations {
  position: absolute;
  right: 10%;
}

.add-new-btn {
  text-decoration: none;
  margin: 30px;
  height: fit-content;
  font-size: 12pt;
  border: none;
  font-weight: 500;
  font-family: verdana;
  background-color: rgb(73, 73, 73);
  padding: 8px;
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -webkit-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
}

.add-new-btn:hover {
  background-color: #0db8de;
  color: whitesmoke;
}

.back-btn {
  text-decoration: none;
  height: fit-content;
  font-size: 12pt;
  border: none;
  font-weight: 500;
  font-family: verdana;
  background-color: rgb(73, 73, 73);
  padding: 8px;
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -webkit-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
}

.back-btn:hover {
  background-color: #0db8de;
  color: whitesmoke;
}

.client-subsection {
  margin-top: 50px;
  background: whitesmoke;
  box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -webkit-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 1px 9px 5px rgba(194, 194, 194, 1);
}

.city-section,
.hotel-featured-section,
.video-section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.city,
.hotel {
  margin: 0 auto;
  width: 300px;
  padding: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-name {
  font-size: 17px;
}

.city-img,
.hotel-img {
  border-radius: 5px;
}

.hotel-img {
  width: 280px;
}

.no_data_title {
  margin: 0 auto;
  color: red;
  font-size: 20px;
}

.video {
  margin: 0 auto;
  width: 350px;
  height: 250px;
}

/* Media Queries */

/* Small screen tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .client-home-section {
    width: 70%;
  }

  .client-subsection-title-heading {
    font-size: 14px;
  }

  .client-subsection-title > button {
    right: 17%;
  }

  .city-img,
  .hotel-img {
    width: 250px;
  }

  .city-name {
    font-size: 15px;
  }

  .add-new-btn {
    font-size: 10pt;
  }

  .no_data_title {
    font-size: 16px;
  }

  .video {
    width: 300px;
  }
}

/* Large screen tablets and small screen laptops */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .client-home-section {
    width: 75%;
  }

  .client-subsection-title > button {
    right: 15%;
  }
}
